# git ignore file
# ignore files in data directory except for the ./data/setup.sh 
data/*
!data/setup.sh
# add __pycache__ to the ignore 
code_proc/__pycache__/

# ignore the random forrest model because too big
models/NWEuroShelf/RF_model_reduced.pkl
